<div class="pages">
   
    <!-- Top Rated Product
    ============================================ -->
    <div class="top-product tab-product-2">
        <div class="container">
            <div class="row text-center"> 
            <a class="btn btn-primary btn-lg" ui-sref="printshopMain">
            <i class="fa fa-home fa-fw fa-3x" aria-hidden="true"></i>BACK TO PRINTSHOP</a>
                <h2>
                    {{category}}
                </h2>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" ng-repeat="product in products | filter : { web_ready : true}">
                    <div class="product-grid-wider">
                        <!-- Product Image -->
                        <div class="pro-image">
                            <!-- <a ng-href="../printshop/dist/#/product/selection/{{product.pk}}/white" target="_blank">-->
                            <a ui-sref="printshopDetail({category:category,product:product.pk})">
                                <img ng-src="{{product.images[0]}}"/>
                                <span class="pro-label great-deal">
                                    popular!
                                </span>
                                <!-- Product Hover Content -->
                            </a>
                        </div>
                        <!-- Product Content -->
                        <div class="pro-content">
                            <div class="top fix">
                                <h3>
                                     <a ui-sref="printshopDetail({category:category,product:product.pk})">
                                        {{product.name}}
                                    </a>
                                </h3>
                                <p class="price float-right">
                                    RM {{product.minimum_price}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
